.App {
  font-family: sans-serif;
  text-align: center;
  border: 0;
}

.modale {
  font-size: 30px;
  background-color: "#f37238";
  border: 0px solid white;
}

.modale > .content {
  width: 100%;
  padding: 10px 5px;
  justify-contant : center;
  color : white;
  padding: 30px;

}
.modale > .actions {
  margin: auto;
}
.modale > .actions {
  width: 100%;
  padding: 10px 5px;
  text-align: center;
  background-color: "#f37238";
}
.modale > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 0px solid #cfcece;
}
